body{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 800px;
    margin: 0 auto;
    height: 100vh;
}

#main {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-width: 300px;
    gap: 10px;
}
#rating-value {
    min-width: 30px;
    text-align: center;
}
#comment {
    height: 100px;
    resize: none;
}

#filmListContainer {
    display: flex;
    gap: 10px;
}