body{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 800px;
    margin: 0 auto;
    height: 100vh;
}

.main {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-width: 300px;
    gap: 10px;
}
.rating-value {
    min-width: 30px;
    text-align: center;
}
.comment {
    height: 100px;
    resize: none;
}

.filmListContainer {
    min-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.filmList > li {
    cursor : pointer;
}